@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body, html{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #27ae60;
    font-family: 'Open Sans', sans-serif;
}
#body-kiri{
    background-color: #2c3e50;
    padding: 0;
    color: #e6eaea;

    .item{
        color: #e6eaea;
        text-decoration: none;
        padding: 1.2rem 2rem;
        display: block;
        border-bottom: 1px solid #7192b34d;
        transition: background-color .15s ease;
        outline: none;

        &:hover{
            background-color: rgba(255, 255, 255, 0.089);
        }
    }
}
#body-kanan{
    background-color: #e6eaea;
    padding: 0;
    overflow: hidden;

    > .atas{
        background-color: #f5f5f5;
        padding: 1rem .8rem;
        box-shadow: 0 0 6px #2c3e5049;
        position: relative;

        > .logo{
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 100%;
            background-color: #2c3e50;
            color: #f5f5f5;
        }

        > .judul{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: calc(100% - 5.5rem);
            display: inline-block;
        }
    }

    > #chats{
        overflow: auto;
        height: calc(100% - 72px - 50px);
        position: relative;

        > .loading{
            position: absolute;
            width: 100%;
            height: 100%;
            bottom: 0;
            display: flex;
            background: #2c3e50b3;
        }

        > .no-message{
            font-size: 13px;
            font-weight: bold;
            color: rgba(0, 0, 0, 0.452);
            text-align: center;
            padding: 1rem 0;
        }

        > .chat{
            display: flex;
            padding: 1rem 1rem;

            &:not(:last-child){
                padding-bottom: .2rem;
            }

            > .foto-profil{
                margin-top: 8px;
                width: 40px;
                height: 40px;
                object-fit: cover;
                float: left;
                border-radius: 100%;
                margin-right: .5rem;
                box-shadow: 0 0 2px #2c3e5049;
                overflow: hidden;
            }

            .lailioo{
                display: inline-block;
                max-width: calc(100% - 5rem);
            }

            .pesan{
                background-color: #2c3e50;
                padding: .5rem 1rem;
                color: #e6eaea;
                border-radius: 5px 17px 17px 17px;
                max-width: 100%;
                box-shadow: 0 0 2px #2c3e5049;

                *{
                    margin: 0;
                }
            }
                
            .nama {
                display: block;
                font-size: 15px;
                font-weight: bold;
                color: #2c3e50;
            }
            
            .waktu {
                display: block;
                text-align: right;
                font-size: 13px;
                color: #3c4f63;
            }

            &.kanan{

                > .foto-profil{
                    order: 2;
                    margin-right: 0;
                    margin-left: .5rem;
                }

                .lailioo{
                    margin-left: auto;
                }

                .pesan{
                    background-color: #f5f5f5;
                    color: #2c3e50;
                    border-radius:17px 5px 17px 17px;
                }
                
                .nama {
                    text-align: right;
                }
                
                .waktu {
                    text-align: left;
                }
            }
        }
    }

    > #tulis-pesan{
        
        > input{
            width: 100%;
            padding: .5rem .8rem;
            margin-bottom: auto;
            border: none;
        }
        > button{
            background: #2c3e50;
            color: #f5f5f5;
            border: none;
            height: 100%;
            width: 70px;
        }
    }
}
.bg-shadow{
    background-color: #2c3e50a1;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 991.98px) {
    #body-kiri{
        position: fixed;
        left: -50%;
        width: 50%;
        z-index: 2;
        top: 0;
        height: 100%;
        box-shadow: 0 0 6px #040b13;
        border-right: 1px solid #ffffff8c;

        > .expand{
            position: absolute;
            width: 40px;
            height: 45px;
            top: 30px;
            right: -41px;
            background: #2c3e50;
            display: flex;
            font-size: 20px;
            color: #f5f5f5;
            border: 1px solid #ffffff8c;
            border-left-width: 1px;
            border-left: none;
            box-shadow: 5px 0 5px #040b1347;
        }
    }
}